html, body {
	margin: 0;
	height: 100%;
}

body > * {
	color: white;
}

body {
	background-image: url('../img/takashi-1.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

footer {
	
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: aqua;
}

.footer-links {
	display:inline-block;
	margin: 0 auto;
	padding-right: 20px;
	margin-top: auto;
}

.footer-wrapper {
	text-align: center;
}

.side-nav {
	z-index: 10000;
}

.tester {
	height: 200px;
	width: 200px;
	background-color: peru;
}

.container {
	margin-top: 74px;
	margin-bottom: 80px;
	width: 1000px;
	min-width: 1000px;
}

.col {
	text-align: center;
}

.instrument-panel {
	height: 280px;
	background-color: #91c7d9;
}

#control-panel {
	height: 100px;
	margin-top: 79px;
	margin-bottom: 20px !important;
}

.panel {
	background-color: #d6d8e4;
	width: 100%;
}

.panel-header {
	background-color: #4e90d0;
	height: 10%;
}

.row {
	width: 100%;
	margin-bottom: 0 !important;
}

nav {
	position: fixed;
}

.step {
	height: 55px;
	width: 55px;
	background-color: #edadcc;
	border: 1px solid black;
	margin: 0 0 3px 3px; 
	text-align: center;
}

.step-panel {
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.nav-wrapper {
	background-color: #4e90d0;
}

#footer-wrapper {
	height: 100%;
}

#on-off-panel {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.button-on-off {
	margin: auto;
	display: inline-block;
}

.knob-global {
	background-color: #4e90d0;
	height: 28px;
	cursor: pointer;
}

.muted {
	background-color: black;
}

.quarterNote {
	background-color: black;
}